
.absoluteText {
   text-align:right;
   width:50%;
   max-height:100%;
   bottom:10%;
   right:10%;
   overflow:auto;
}
.navbg{
   background-color:rgb(27,55,69); 
}
.containerAbsoluto{
   overflow:auto;
}
.sizeBox{
   width:49%;  
}  
.sizeTema{
   text-align:top;
   //line-height:300%;
}
.oscurecedor{
  filter:brightness(70%);
}  

